@import "fonts.scss";

$ffMontserrat: Montserrat, sans-serif;
$ffRobotoSlab: "Roboto Slab", sans-serif;

$maxWidth: 1366px;

$tablet: 768px;
$smallDesktop: 1024px;
$desktop: 1280px;

$blue_1: #1f3f68;
$blue_2: #316099;
$blue_3: #356ead;
$blue_4: #5a98d0;
$blue_5: #98c3e8;

$white: #ffffff;
